@import '../../assets/css/variables.less';

.content-wrapper{
    .flex-center();
    flex-direction: column;
    width: 100%;
}

.inner-wrapper {
    .flex-center();
    justify-content: space-between;
    width: 100%;
    >.date-wrapper{
        width: 40%;
        >.react-calendar{
            border: none;
            >.react-calendar__navigation button{
                font-size: 1.25rem !important;
                

            }
            
        }
    }
}
.react-calendar__tile--active {
    background: #00796B !important;
}
.react-calendar__month-view__days__day--weekend {
    color: #8FBC8F !important;
}
.logger-wrapper {
    .flex-center();;
}
